h1 {
    border: 2px #eee solid;
    color: brown;
    text-align: center;
    padding: 10px;
}



table.dataframe, .dataframe th, .dataframe td {
    border: none;
    border-bottom: 1px solid #C8C8C8;
    border-collapse: collapse;
    text-align:left;
    padding: 10px;
    margin-bottom: 40px;
    font-size: 0.9em;
  }

  tr {

    color:  #99ccff ;
  }