<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


    <title>{% block title %} {% endblock %}</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-md  navbar-dark bg-dark" >
        <a class="navbar-brand" href="{{ url_for('index')}}">P2P Statistic</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="{{ url_for('ind_localbitcoin')}}">Localbitcoin</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{{ url_for('ind_binance')}}">Binance</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{{ url_for('ind_localcrypto')}}">Localcrypto</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{{ url_for('ind_api')}}">API</a>
            </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        {% block content %} {% endblock %}
    </div>



</div>
</div>
  <div class="container">
   <div class="container-fluid margin-top-5">

  <h4> Tabla de Registros </h4>
  <a class="btn btn-info float-right " href="{{ url_for('download') }}" role="button">Download CSV</a>

  </div>
    <div class="table-responsive margin-top-5">
      <table class="table table-sm table-striped">
        <thead class="thead-dark">
          <tr>
            <th>Usuarios</th>
            <th>Cant. Trade</th>
            <th>Metdo Pago</th>
            <th>Localizacion</th>
            <th>Tipo Trade</th>
            <th>Precio</th>
            <th>Fuente</th>
            <th>Criptomoneda</th>
            <th>Fecha</th>
          </tr>
        </thead>
        <tbody>
          {% for item in data %}
          <tr>
            <td>{{ item['username'] }}</td>
            <td>{{ item['trade_count'] }}</td>
            <td>{{ item['bank_name'] }}</td>
            <td>{{ item['location_string'] }}</td>
            <td>{{ item['trade_type'] }}</td>
            <td>{{ item['temp_price'] }}</td>
            <td>{{ item['source'] }}</td>
            <td>{{ item['coin'] }}</td>
            <td>{{ item['Timestamp'] }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {{ pagination.links }}
  </div>





    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>